/dist
/node_modules
/src/component/spoc-choiceschool-web/
/src/component/spoc-core-web/
/src/component/spoc-library-web/
/src/component/spoc-sign-web/
/src/component/spoc-plan-web/
/src/component/spoc-docu-web/
/src/component/spoc-crm-web/
/src/component/spoc-apply-web/
/src/component/spoc-docu-web
/src/component/spoc-crm-web/
/src/component/spoc-apply-web/
.DS_Store   
.project
.vscode


\.idea/

src/component/spoc-apply-web
/nohup.out

src/component/spoc-market-web/
/src/component/spoc-portal-market

src/component/spoc-salary-web/

src/component/spoc-ewechat-web
/webpull-release11.bat
